body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADINGS */
.header--main {
    font-weight: normal;
    color: white;
    font-size: 50px;
}

.header--secondary {
    color: white;
    font-weight: 300;
    font-size: 42px; 
}

.header--subheader {
    font-size: 21px;
    color: gray;
}

/* LINKS */
.link-cta {
    color:aquamarine;
    font-size: 16px;
}